<table>
  <% attributes.each do |attribute| %>
    <tr>
      <td>
        <%= attribute[:name] %>
      </td>
      <td>
        <strong><%= attribute[:type] %></strong>
      </td>
      <td><%= attribute[:description] %></td>
    </tr>
  <% end %>
</table>
