---
title: API reference
weight: 90
---

# API reference

## Use the Swagger Editor

As we've described our API using the <a href="https://swagger.io/docs/specification/about/" target="_blank">
OpenAPI specification</a>, it's possible to use the <a href="https://swagger.io/tools/swagger-editor/" target="_blank">
Swagger Editor</a> to try it out.

1. Go to the <a href="https://editor.swagger.io/" target="_blank">Swagger Editor</a>
2. Click on the **File** dropdown on the menu bar
3. Click on **Import URL**
4. Enter the following URL: `apply-for-postgraduate-teacher-training-tech-docs.cloudapps.digital/openapi-spec.yml`
5. Click on **OK**


## Rate limits

You are limited to 120 requests per minute. 

This limit is calculated on a rolling basis, per API key. 
If you exceed the limit, you will get a `429` error `RateLimitError`.


<%= GovukTechDocs::ApiReference::Display.new('source/openapi-spec.yml').render %>
